
*{
    padding: 0;
    margin: 0;
    font-family: "Quicksand",sans-serif;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(250, 212, 212); 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    position: fixed;
    
  }
  html, body{
      font-family: 62.5%;
      height: 100%;
  }
  html{
      background: #eee;
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  .box{
         margin: 20px auto;
        width: 30vw;
        height: 80vh;
        border-radius: 0 0.2rem 3rem rgb(0, 0,0, 0.2);
    /* background: #82b4ff; */
        background-image: url("../../img/bskyimg.jpg");
        position: relative;
        overflow: hidden;
        transform: translate3d(0,0,0);
        min-width: 20rem;
        min-height: 35rem;
        box-shadow: 5px 8px 20px 0px rgb(83 250 17), 0px 3px 20px 9px red, -2px -4px 20px 15px rgb(17 184 250);
  }
  .box.cloud{
      background-image: url("../../img/cloudimg.jpg");
  }
  .box.rain{
      background-image: url("../../img/rainimg.jpg");
  }
.box:after{
    content: " ";
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    transform: translate3d(0,0,0);
}
@keyframes drift{
    from{
        transform: rotate(0deg);
    }
    from{
        transform: rotate(360deg);
    }
}
#cityName{
    justify-content: center;
    text-align: center;
    display: flex;
    margin: 10px auto;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 800;
}
  .inputData{
       margin-top: 1.5rem;
    box-shadow: inset hoff voff blur #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inputFeild{  border: 2px solid red;
    border-radius: 10px 20px;
       padding: 13px;
       font-size: 1.2rem;
       font-weight: 500;
       box-shadow: 2px 5px rgb(46, 18, 13);
     
  }

  .errormsg{
    justify-content: center;
    text-align: center;
    display: flex;
    margin: 10px auto;
    text-transform: uppercase;
    font-size: 2.2rem;
    font-weight: 700;
    color: red;
  }
  h4{
    justify-content: center;
    text-align: center;
    display: flex;
    margin: 10px auto;
    text-transform: uppercase;
  }
  #weatherIcon{
      height: 25%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      color: rgb(248, 248, 169);

  }
  #weatherIcon .fas{
      font-size: 6rem;
      animation: fas-anime 3s linear infinite alternate;
  }
@keyframes fas-anime{
    from{
        transform: scale(0.5);
         color: rgb(250, 85, 56);
    }
    to{
        transform: scale(1);
       
    }
}

  .info{
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 45%;
      z-index: 4;
  }
.location{
    margin: 1px;
    text-align: center;
    font-weight: 800;
    font-size: 3rem;
    font-weight: 600;
}
.fa-street-view{
    animation: rotates 3s linear infinite alternate;
    color: rgb(255, 136, 115);
}
@keyframes rotates{
    from{
        transform: translateX(-0.5rem);
    }
    to{
        transform: translateX(0.5rem);
    }
}
#date{
    text-align: center;
    margin-top: 10px;
    color: blue;
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
}


.temp{
    margin: 5px auto;
   position: relative;
    font-size: 3rem;
    font-weight: 900;
    
    border-radius: 15px;
    padding: 5px 25px;
    color: rgb(15, 15, 9);
 text-shadow: 2px 4px rgb(133, 21, 1);
    
    text-align: center;
}
.tempmin_max{
    text-align: center;
    margin-top: 1.3rem;
    font-weight: 300;
    font-size: 1.2rem;
    color: rgb(6, 59, 59);
}
  .wave{
      opacity: 0.3;
      position: absolute;
      top: 120%;
      left: 50%;
      background: rgb(255, 236, 236);
      width: 50rem;
      height: 50rem;
      margin-left: -25rem;
      margin-top: -25rem;
      transform-origin: 50% 48%;
      border-radius: 43%;
      animation:drift 3000ms infinite linear;
      z-index: 1;
  }
  .wave.-three{
      animation: drift 5000ms infinite linear;
      z-index: 2 !important;
      opacity: 0.2;
      
    
  }
  .wave.-two{
    animation: drift 7000ms infinite linear;
    z-index: 3 !important;
    opacity: 0.1;
 

}

@media(max-width:600px){
    .box{
        width: 90vw;
        height: 80vh;
    }
    .wave{
        top:85%
    }
    #weatherIcon{
        font-size: 5rem;
    }
    .info{
        font-size: 1.5rem;
    }
}
@media(max-height:500px){
    .box{
        height: 80vh;
    }
    .wave{
        top:115%
    }
}

body>span{
    width: 100vw;
    text-align: center;
    color: gray;
}